In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"D:/explorra/datasets/car_data.csv")

In [3]:
df.head()

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0
2      353   Male   49         74000          0
3      895   Male   40        107500          1
4      661   Male   25         79000          0

In [14]:
gender={'Male':0,'Female':1}

In [15]:
df['Gender']=df['Gender'].map(gender)

In [9]:
from sklearn.model_selection import train_test_split

In [16]:
X,y=df.drop(['Purchased'],axis=1),df['Purchased']

In [17]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
dtree=DecisionTreeClassifier()

In [20]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [22]:
y_pred=dtree.predict(X_test)

In [23]:
from sklearn.metrics import classification_report

In [24]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.93      0.90       189
           1       0.89      0.83      0.86       141

    accuracy                           0.88       330
   macro avg       0.89      0.88      0.88       330
weighted avg       0.89      0.88      0.88       330